extends common/_base

block variables
	include ./data/english
	-
		title = TITLE

block head
	link(rel='preconnect' href='https://fonts.gstatic.com')
	link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap' rel='stylesheet')


block body
	form(action="" method="POST")
		include ./includes/platforms
		include ./includes/country
		include ./includes/traffic
		include ./includes/cost
		ul.small
			each text in NOTE
				li
					small=text

		button(type="submit")=TITLE
