extends common/_base

block variables
	-
		title = "Increase Profit"

block head
	link(rel='preconnect' href='https://fonts.gstatic.com')
	link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap' rel='stylesheet')


block body
	form(action="" method="POST")
		include ./includes/platforms
		include ./includes/country
		include ./includes/traffic
		include ./includes/cost
		ul.small
			li
				small All cost indicators are calculated for reference.
			li
				small The average of the total statistics is used.
			li
				small The data may differ from the metrics in your account.

		button(type="submit")=title


//-
	Логика такая:
	Таблица из двух частей делится
	По Типу платформы
	Количество трафика / CR * Reid зависит от страны

	Например человек выбирает например мобильную платформу -
	Колонка стран одинакова
	И подставляются значение к стране
