@use '../core/variables' as *;
.cost {
	margin: 0;

	font-size: 1.6rem;
	line-height: 1;

	text-transform: uppercase;
	color: $accent-color;
	abbr {
		text-decoration: none;
	}

	@media (min-width: $tablet-bp) {
		font-size: 18px;
		margin-top: 16px;
	}
}
