@use '../core/variables' as *;

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--side-padding: 33px;
	font-size: 10px;

	@media (min-width: $tablet-bp) {
		--side-padding: 44px;
		font-size: 12px;
	}

	@media (min-width: $desktop-bp) {
		font-size: 14px;
	}

	scrollbar-width: thin;
	scrollbar-color: $accent-color $border-color;
}

body {
	min-height: 100vh;
	display: grid;
	align-content: center;
	padding: 20px var(--side-padding);
	font-family: "Ubuntu", "Arial", "Helvetica", sans-serif;
	box-sizing: border-box;
	background-color: $light;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	border-radius: 15px;
	background: transparent;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border-radius: 15px;
}

::-webkit-scrollbar-track {
	background-color: $border-color;
}

::-webkit-scrollbar-thumb {
	background-color: $accent-color;
}
