$tablet-bp: 700px;
$mob-only-bp: $tablet-bp - 1px;

$form-width: 945px;
$desktop-bp: $form-width + 100px;
$not-desktop-bp: $desktop-bp - 1px;

$border-color: #dadada;
$accent-color: #291B68;

$light: #fff;
