-
	const TITLE = "Increase Profit"
	/* ___ Platforms ___ */

	const platformsTitle = "Platform type";
	const platforms = [
				{name: "Mobile", id: 'mobile', coefficient: '1'},
				{name: "Desktop", id: 'desk',  coefficient: '1.2'}
			]

	/* ___ Countries ___ */

	const countryTitle = "Country";
	const countryLabel = "Select a country";
	const countries = [
			{ name: "New Zealand", coefficient: '1.1'},
			{ name: "Australia", coefficient: '1.5'},
			{ name: "Norway", coefficient: '1.3'}
		];

	/* ___ Traffic ___ */
	const trafficTitle = "The amount of traffic per landing"


	const initValue = 100000;
	const min = 0;
	const max = initValue * 2;

	const costTitle = "Estimated income"

	const NOTE = ["All cost indicators are calculated for reference.", "The average of the total statistics is used.", "The data may differ from the metrics in your account."]

